---
layout: archive
title: ""
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}
<p align = "justify"> 
<h2>Journal articles</h2>
<ol reversed>
<li><strong>Qian Wei</strong>, Zehao Chen, Xiaowei Chen, Yuhao Zhang, Xiaojun Cai, Zhiping Jia, Zhaoyan Shen*, Yi Wang, Zili Shao, Bingzhe Li: A Semantic-integrated LSM-tree based Key-Value Storage Engine for Blockchain Systems. IEEE Transactions on CAD of Integrated Circuits and Systems (TCAD), December 29, (2023).  [<a href="https://ieeexplore.ieee.org/abstract/document/10376454" target="_blank" rel="noopener noreferrer">Link</a>]</li>
<li>Tianyu Wang, Zizhan Chen, Wenbin Zhu, <strong>Qian Wei</strong>, Zhaoyan Shen*, Zili Shao: A Bloom-filter-based Unique Address Checking Approach for DAG-based Blockchain Systems. IEEE Transactions on CAD of Integrated Circuits and Systems (TCAD), August 2, (2023).  [<a href="https://ieeexplore.ieee.org/abstract/document/10201924" target="_blank" rel="noopener noreferrer">Link</a>]</li>
<li><strong>Qian Wei</strong>, Bingzhe Li, Wanli Chang, Zhiping Jia, Zhaoyan Shen*, Zili Shao: A survey of blockchain data management systems. ACM Transactions on Embedded Computing Systems (TECS), 21 (3), 1-28, (2022).  [<a href="https://dl.acm.org/doi/full/10.1145/3502741" target="_blank" rel="noopener noreferrer">Link</a>]</li>
</ol>

<h2>Conference Papers</h2>
<ol reversed>
<li><strong>Qian Wei</strong>, Yi Li, Zhiping Jia, Mengying Zhao, Zhaoyan Shen*, Bingzhe Li: Reinforcement Learning-Assisted Management for Convertible SSDs, in the 60th Design Automation Conference (DAC), San Francisco, CA, June 9 - 13, (2023).  [<a href="https://ieeexplore.ieee.org/abstract/document/10247929" target="_blank" rel="noopener noreferrer">Link</a>]</li>
<li><strong>Qian Wei</strong>, Zhaoyan Shen*: Improving Blockchain Scalability from Storage Perspective, in ACM Turing Celebration Conference (TUR-C), Wuhan, July 28 – 30, (2023).  [<a href="https://dl.acm.org/doi/abs/10.1145/3603165.3607425" target="_blank" rel="noopener noreferrer">Link</a>]</li>
<li><strong>Qian Wei</strong>, Zhaoyan Shen*, Yiheng Tong, Zhiping Jia, Lei Ju, Jiezhi Chen, Bingzhe Li: Re-LSM: A ReRAM-Based Processing-in-Memory Framework for LSM-Based Key-Value Store, in IEEE/ACM International Conference on Computer-Aided Design (ICCAD), Virtual, Otc. 30 - Nov. 3, (2022).  [<a href="https://dl.acm.org/doi/abs/10.1145/3508352.3549392" target="_blank" rel="noopener noreferrer">Link</a>]</li>
</ol>

</p> 



